<app-header></app-header>
<div class="container">
    <div class="slider">
        <app-slider></app-slider>
    </div>
    <div class="buttons ">
        <button class="btn btn1 mx-5">بنك الأسئلة</button>
        <button class="btn btn2 mx-5">الدورات</button>
    </div>
    <h3>التصنيفات</h3>

    <div class="collection">
            <button class="m-4 p-3">الاوتومات</button>
            <button class="m-4 p-3">قواعد المعطيات</button>
            <button class="m-4 p-3">داتا بيز</button>
            <button class="m-4 p-3">المترجمات </button>
            <button class="m-4 p-3">هندسة البرمجيات</button>
            <button class="m-4 p-3">الشبكات</button>
            <button class="m-4 p-3">الذكاء الاصطناعي</button>
            <button class="m-4 p-3">خوارزميات</button>
            <button class="m-4 p-3">امن معلومات</button>
    </div>
</div>
<app-footer></app-footer>