<app-header></app-header>
<div class="container">
    <div class="slider">
        <app-slider></app-slider>
    </div>
    <div class="buttons ">
        <button class="btn btn1 mx-5" routerLink="/question">بنك الأسئلة</button>
        <button class="btn btn2 mx-5" routerLink="/courses">الدورات</button>
    </div>
    <h3>التصنيفات</h3>

    <div class="collection">
            <button class="m-3 p-3" routerLink="/option">الاوتومات</button>
            <button class="m-3 p-3" routerLink="/option">قواعد المعطيات</button>
            <button class="m-3 p-3" routerLink="/option">داتا بيز</button>
            <button class="m-3 p-3" routerLink="/option">المترجمات </button>
            <button class="m-3 p-3" routerLink="/option">هندسة البرمجيات</button>
            <button class="m-3 p-3" routerLink="/option">الشبكات</button>
            <button class="m-3 p-3" routerLink="/option">الذكاء الاصطناعي</button>
            <button class="m-3 p-3" routerLink="/option">خوارزميات</button>
            <button class="m-3 p-3" routerLink="/option">امن معلومات</button>
    </div>
</div>
<app-footer></app-footer>