<app-header></app-header>
<div class="container">
    <a class="anchor" routerLink="/courses">العودة<img src="/assets/ic_back.svg" alt=""></a>
    <div class="content">
        <h1 class="mb-4 mt-4">   دورة تشرين 2023</h1>
        <div class="line d-flex my-4">
            <div class="mx-5">علامة النجاح   100 </div>
            <span >سؤال</span><span class="mx-2"> 50 </span>
        </div>
        <h2 class="text-center m-0 p-0">تعليمات هامة</h2>
        <p class="my-5">ابدأ الاختبار سوف ينقلك الى صفحة السؤال -<br>
            لتحقق من صحة إجابتك اضغط على اشارة الصح اسفل السؤال سوف تظهر لك الاجابة صحيحة او خاطئة -<br>
            اشارة الكتاب سوف تظهر لك مرجع السؤال -<br>
            كما يمكنك الحصول على النتيجة في اخر الاختبار ........   بالتوفيق - 
        </p>
        <div class="button"><button class="btn text-center mx-5" routerLink="/question"> ابدأ الاختبار</button></div>
    </div>
</div>