<div class="border1">
    <div class="background">
        <img src="assets/shapemaker.svg" alt="">
    </div>
    <div class="header-container">
        <div class="menu">
           <div class="btn"><button routerLink="/login">تسجيل الدخول</button></div> 

            <div class="nav">
                <ul>
                    <li>من نحن</li>
                    <li>الاختصاصات</li>
                    <li>الرئيسية</li>

                </ul>
            </div>
        </div>
        <div class="menu-icon"><i class="fa-solid fa-bars" style="color: #6F2877;"></i></div>

        <div class="logo">
            <img src="/assets/logo darebni.png" alt="logo">
        </div>

    </div>
</div>