<div class="border1">
    <div class="background">
        <img src="assets/shapemaker.svg" alt="">
    </div>
    <div class="header-container">
        <button class="btn" routerLink="/login">تسجيل الدخول</button>

        <div class="nav">

            <ul>
                <li>من نحن</li>
                <li>الاختصاصات</li>
                <li>الرئيسية</li>

            </ul>
            <div class="logo">
                <img src="/assets/logo darebni.png" alt="logo">
            </div>
        </div>
    </div>
</div>