<div class="row m-0 p-0">
  <div class="container">
    <div class="left">
      <img src="assets/signup.svg" alt="login image">
    </div>
    <div class="right">
      <div class="form">
        <form [formGroup]="reactiveForm">
          <h2 id="registration"> إنشاء حساب</h2>
          <div class="details">
            <label for="name">
              اسم المستخدم
            </label>
            <input type="text" formControlName="name" placeholder=" اسم المستخدم" >
            <i class="fa fa-user" aria-hidden="true"></i>
           
            <div
              *ngIf="reactiveForm.controls['name'].invalid && (reactiveForm.controls['name'].dirty || reactiveForm.controls['name'].touched)">
              <small *ngIf="reactiveForm.controls['name'].errors['required']"> الرجاء ادخال اسم
                المستخدم</small>
            </div>
            <label for="phone">
          رقم الموبايل
            </label>
            <input type="text" formControlName="phone" placeholder=" +رقم الموبايل. مثال: *** *** ** 963">
            <i class="fa-solid fa-phone"></i>
          <div
              *ngIf="reactiveForm.controls['phone'].invalid && (reactiveForm.controls['phone'].dirty || reactiveForm.controls['phone'].touched)">
              <small *ngIf="reactiveForm.controls['phone']?.errors['required']"> الرجاء ادخال رقم
                الموبايل</small>
              <small *ngIf="reactiveForm.controls['phone']?.errors['pattern']">رقم الموبايل غير صالح </small>
            </div>
          </div>
          <br /><br />
          <div class="studies">
            <h3>اختر الإختصاص</h3>
            <div class="form-studies" >
              <label for="studies">طب الأسنان <input type="radio" value="طب الأسنان"  formControlName="studies" /> </label>
              <label for="studies"> الصيدلة <input type="radio" value="الصيدلة" formControlName="studies" /></label>
              <label for="studies">الهندسة المعمارية <input type="radio" value="الهندسة المعمارية " formControlName="studies" /></label>
              <label for="studies"> الهندسة المعلوماتية <input type="radio" value="الهندسة المعلوماتية " formControlName="studies" /></label>
              <label for="studies"> التمريض<input type="radio" value="التمريض" formControlName="studies" /></label>
              <label for="studies"> الطب البشري <input type="radio" value="الطب البشري" formControlName="studies" /></label>

            </div>
            <div class="button">
              <button type="submit" id="btn" routerLink="/login"> إنشاء حساب</button>
            </div>
            <div class="link">
              ليس لديك حساب؟
              <a href="" routerLink="/login" (click)="onSubmitReactiveForm()"> سجل الدخول
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>