<app-header></app-header>
<div class="container">
    <a class="anchor" routerLink="/classification">العودة<img src="/assets/ic_back.svg" alt=""></a>
    <div class="content mt-5 mb-2" routerLink="/course">
        <img src="/assets/ic_arrow.svg" alt="">
        <span>2023 دورة تشرين <i class="fa-solid fa-book-open mx-2" style="color: #fff;"></i></span>
    </div>
    <div class="content mt-4 mb-2 content2" routerLink="/course">
        <img src="/assets/ic_arrow.svg" alt="">
        <span>2023 دورة تشرين <i class="fa-solid fa-book-open mx-2" style="color: #fff;"></i></span>
    </div>
</div>
